/* TODO Add site wide styles */
body {
  background-image: url(images/beach-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

button {
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  border: none;
  font: 15px black sans-serif;
  font-weight: bold;
}
